.card-title a {
  color: #333e48;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: geo-wf, Helvetica, Arial;
  line-height: 1.333;
  color: rgb(38, 39, 44);
  letter-spacing: 0.5px;
  display: block;
  font-stretch: 100%;
  font-style: normal;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: geo-wf, Helvetica, Arial;
  line-height: 1.333;
  color: rgb(38, 39, 44);
  letter-spacing: 0.5px;
  display: block;
  font-stretch: 100%;
  font-style: normal;
  padding-top: 40px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  font-weight: 400;
  font-family: geo-wf, Helvetica, Arial;
  line-height: 1.75;
  color: rgb(38, 39, 44);
  letter-spacing: 0.5px;
  display: block;
  font-stretch: 100%;
  font-style: normal;
  margin-bottom: 33px;
}

.codehilite {
  font-size: 20px;
}

.highlight-text {
  background: rgba(255,229,100,0.2);
  color: rgb(26, 26, 26);
  padding-left: 3px;
  padding-right: 3px;
}

/* tablet */
@media only screen and (max-width:1000px) {
  img {
    width: 85%;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  .codehilite {
    font-size: 18px;
  }
}

/* mobile devices */
@media only screen and (max-width:480px) {
  img {
    width: 100%;
  } 
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .codehilite {
    font-size: 16px;
  }
}