{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load account %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/account/account.css' %}">
{% endblock %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
  <div class="container">
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgot your password? Enter your email below and we'll send you a link to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      <!-- {{ form|crispy }} -->
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary btn-lg" value="Reset My Password" />
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
  </div>
{% endblock %}