{% extends '_base.html' %}
{% load static %}
{% load account %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/account/account.css' %}">
{% endblock %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
<div class="container">
  <h1>Password Reset</h1>
  
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  
  <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
</div>
{% endblock %}