{% extends '_base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block title %}TinyTrader | Quantitatie Stock Analysis{% endblock title %}

{% block content %}

<div class="bg-light">
  <div class="container">
    <div class="row" style="padding-bottom: 10rem;">
      <div class="col-sm-4">
        
        <h1 class="h1-title">
          <span>Quantitative</span>
          <span>Stock Analysis.</span>
          <span class="h1-strong">Simplified.</span>
        </h1>

        <h2 class="h2-subtitle">
          Multi-factor stock selection for individual investors.
        </h2>
    
        <form class="px-3 py-5">
          <div class="input-group input-group-lg">
            <span class="input-group-text bg-light bi-search"></span>
            <input id="body-search" class="form-control" type="search" placeholder="Search companies" aria-label="Search">
          </div>
        </form>
    
      </div>
    
      <div class="col-sm-8">
        <h1 class="h1-title">

        </h1>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
