{% extends "account/email/base_message.html" %}
{% load account %}

{% block content %}
<div>
  <p style="font-weight: bold;">Hello!</p>
  <p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
  <p>Click the link below to reset your password.</p>
  <p>{{ password_reset_url }}</p>
  {% if username %}
    <p>In case you forgot, your username is <span style="font-weight: bold;">{{ username }}</span>.</p>
  {% endif %}
  <p>You can safely ignore this email if you did not request a password reset.</p>
</div>
{% endblock content %}