body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333e48;
}

.h1-title {
  font-size: 3.0rem;
  font-weight: 300;
  margin-top: 5rem;
  text-align: center;
  line-height: 135%;
}

.h1-strong {
  font-weight: 600;
}

.h1-title span {
  display: block;
}

.h2-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
  line-height: 150%;
}

.h2-subtitle span {
  display: block;
}