{% extends '_base.html' %}
{% load static %}
{% load markdown_extras %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog/blog_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog/blog-syntax-highlighting.css' %}">
{% endblock %}

{% block metadescription %}
  <meta name="description" content="{{ post.metadescription }}">
{% endblock metadescription %}

{% block content %}

<div class="container">
  <div class="card-body">
    <h1>{% block title %}{{ post.title }}{% endblock title %}</h1>
    <p class="card-text text-muted h6">{{ post.author.first_name }} {{ post.author.last_name }} | {{ post.updated_on }}</p>
    <p class="card-text">{{ post.content | markdown }}</p>

    <h2 class="comment-header">Comments</h2>
  
    {% for comment in comments.all %}
      {% if comment.parent is None %}
        <div id="comment-{{ comment.id }}" class="comment-card">
          <div class="comment-card-width-full">
            <div>
              <h5 class="card-title comment-card-username">{{ comment.name.username }}</h5>
              <h6 class="card-text comment-card-date">{{ comment.created_on|date:"M j, Y" }}</h6>
              <p class="card-text comment-card-body">{{ comment.body }}</p>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </div>
  
        {% for reply in comment.replies.all %}
        <div id="comment-{{ comment.id }}" class="comment-card">
          <div class="comment-card-width-margin"></div>
          <div class="comment-card-width-offset">
            <div>
              <h5 class="card-title comment-card-username">{{ reply.name.username }}</h5>
              <h6 class="card-text comment-card-date">{{ reply.created_on|date:"M j, Y" }}</h6>
              <p class="card-text comment-card-body">{{ reply.body }}</p>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    {% empty %}
        <p>No comments yet — be the first to leave one!</p>
    {% endfor %}
    </div>
  
  </div>
</div>

{% if user.email_verified %}
<div class="comment-form-container">
  <div class="container">
    <form id="comment-form" action="{% url 'blog:post' post.slug  %}" method="post">
      {% csrf_token %}
      <div class="comment-form-row">
        <div class="comment-form-input">
          <input type="hidden" name="name" value="{{ user.id }}" />
          <input type="hidden" name="post" value="{{ post.id }}" />
          <label for="comment-input" class="sr-only">Comment</label>
          <textarea id="comment-input" name="body" placeholder="Write a comment..." rows="1" class="form-control-lg comment-form-textarea"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-lg comment-form-button">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% elif user.email_verified is False %}
<div class="comment-alert-container">
  <div class="alert alert-warning" role="alert">
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
      <i class="bi bi-info-circle" style="font-size: 1.4rem;"></i>
      <span style="margin-left: 1rem;">
        Please verify your email to submit comments.
      </span>
    </div>
  </div>
</div>
{% else %}
<div class="comment-alert-container">
  <div class="alert alert-warning" role="alert">
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
      <i class="bi bi-info-circle" style="font-size: 1.4rem;"></i>
      <span style="margin-left: 1rem;">
        Please <a href="{% url 'account_signup' %}?next={{request.path}}">Sign Up</a> to submit comments.
      </span>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js" integrity="sha256-pUYbeWfQ0TisH2PabhAZLCzI8qGOJop0mEWjbJBcZLQ=" crossorigin="anonymous"></script>
  <script src="{% static 'js/blog/blog_detail.js' %}"></script>
{% endblock scripts %}
