
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139228195-1"></script>
  <script>
    if (document.location.hostname === "tinytrader.com") {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-139228195-1');
    }
  </script>
  <meta charset="utf-8">
  <title>{% block title %}Tiny Trader{% endblock title %}</title>
  <meta name="theme-color" content="#cfe2ff">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/svg+xml" href="{% static 'images/chevron-double-right.svg' %}">
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block styles %}
  {% endblock %}
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      
      <a class="navbar-brand px-2 py-1 fs-3" href="{% url 'pages:home' %}">
        <i class="bi bi-chevron-double-right d-inline-block align-baseline text-primary"></i>
        <span>tinytrader<span class="text-primary" style="font-weight: 600">.</span>io</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarToggler">
        
        <form class="d-flex ms-auto px-2 py-1">
          <div class="input-group">
            <span class="input-group-text bg-transparent bi-search"></span>
            <input id="nav-search" class="form-control" type="search" placeholder="Search companies" aria-label="Search">
          </div>
        </form>
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-2 py-1">
            <a class="nav-link text-body" href="{% url 'blog:blog' %}">Blog</a>
          </li>
          <li class="nav-item px-2 py-1">
            <a class="nav-link text-body" href="{% url 'pages:about' %}">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item px-2 py-1">
              <a class="nav-link text-body" href="{% url 'account_logout' %}">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item px-2 py-1">
              <a class="btn btn-outline-primary" href="{% url 'account_login' %}?next={{request.path}}">Log In</a>
          </li>
          <li class="nav-item px-2 py-1">
              <a class="btn btn-primary" href="{% url 'account_signup' %}?next={{request.path}}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </nav>
  {% if user.email_verified is False %}
  <div class="alert alert-primary" role="alert">
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
      <i class="bi bi-info-circle" style="font-size: 1.4rem;"></i>
      <span style="margin-left: 1rem;">
        Please verify your email using the link sent to <span style="font-weight: bold;">{{ user.email }}</span>.
      </span>
      <!-- https://stackoverflow.com/questions/66629248/allauth-resending-verification-redirects-to-another-page -->
        <form action="{% url 'users:resend_verfication' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{user.email}}"/>
        <input type="hidden" name="next" value="{{request.path}}"/>
        <button type="submit" class="btn btn-outline-primary resend-verification-button" name="action_send">
          Resend Verification
        </button>
      </form>
    </div>
  </div>
  {% endif %}

  {% block content %}
  {% endblock content %}

  <!-- py-4 adds padding to the top and bottom -->
  <!-- mt-5 adds margin to the top -->
  <footer class="py-4 mt-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8 py-1">
          <a class="navbar-brand text-dark fs-5" href="{% url 'pages:home' %}">
            <i class="bi bi-chevron-double-right d-inline-block align-baseline text-primary"></i>
            <span>tinytrader<span class="text-primary" style="font-weight: 600">.</span>io</span>
          </a>
        </div>
        <div class="col-md-2 py-1">
          <a class="text-decoration-none text-muted" href="{% url 'pages:privacy' %}">Privacy Policy</a>
        </div>
        <div class="col-md-2 py-1">
          <a class="text-decoration-none text-muted" href="{% url 'pages:terms' %}">Terms of Use</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}

</body>
</html>