.card-title a {
  color: #333e48;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

/* tablet */
@media only screen and (max-width:1000px) {
  img {
    width: 85%;
  }
}

/* mobile devices */
@media only screen and (max-width:480px) {
  img {
    width: 100%;
  } 
}