.card-title a {
  color: #333e48;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.codehilite {
  font-size: 18px;
}

.highlight-text {
  background: rgba(255,229,100,0.2);
  color: rgb(26, 26, 26);
  padding-left: 3px;
  padding-right: 3px;
}

/* tablet */
@media only screen and (max-width:1000px) {
  img {
    width: 85%;
  }
  .codehilite {
    font-size: 16px;
  }
}

/* mobile devices */
@media only screen and (max-width:480px) {
  img {
    width: 100%;
  } 
  .codehilite {
    font-size: 14px;
  }
}