pre {
  background-color: #282a36;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 33px;
}

/* Comment */
.c1 {
    color: #6272a4;
    font-style: italic
}
/* Variable */
.n {
    color: #f8f8f2;
}
/* Import & From */
.kn {
    color: #8be9fd;
}
/* As */
.k {
    color: #8be9fd;
}
/* Str function */
.nb {
    color: #8be9fd;
}
/* Strings */
.s1 {
    color: #f1fa8c;
}
.si {
    color: #f1fa8c;
}
/* Name of import */
.nn {
    color: #f1fa8c;
}
/* Symbol */
.o {
    color: #ff79c6;
}
/* Parentheses & Brackets */
.p {
    color: #f8f8f2;
}
/* Integers */
.mi {
    color: #bd93f9;
}
/* Decimals */
.mf {
    color: #bd93f9;
}
/* True & False */
.kc {
    color: #bd93f9;
}
