.comment-form-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0,0,0,.15);
}

.comment-alert-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 78px;
}

.comment-alert-container .alert {
  margin-bottom: 0;
  height: 100%;
  display: flex;
}

.comment-form-row {
  display: flex; 
  align-items: center;
}

.comment-form-input {
  flex: 1;
}

.comment-form-textarea {
  margin-top: 6px;
  width: 100%;
}

.comment-form-button {
  background: #FFD814;
  border-color: #FFD814;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;
}

.comment-form-button:hover {
  background: #F7CA00;
  border-color: #F7CA00;
}

.comment-header {
  margin-bottom: 2rem;
}

.comment-card {
  display: flex;
}

.comment-card-width-full {
  width: 100%;
}

.comment-card-width-offset {
  width: 97%;
}

.comment-card-width-margin {
  width: 3%;
}

.comment-card-username {
  display: inline-block; 
  margin-right: 1rem; 
  margin-top: 0;
  font-weight: bold;
}

.comment-card-date {
  display: inline-block;
  color: #6c757d;
}

.comment-card-body {
  margin-top: 0;
}

footer {
  margin-bottom: 78px;
}